<!DOCTYPE html>
<html lang="it">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Mananno.org</title>
<link type="text/css" rel="stylesheet" href="/css/ilcorsaronero/style.css">

</head>
<body>
{{ template "header" . }}
<main class="l-content">
{{ template "content" . }}
</main>
{{ template "footer" . }}{{ template "browser-sync" . }}
<script src='/js/ilcorsaronero/torrent-add.js'></script>
</body>
</html>

{{define "header"}}
<header class="l-header"></header>
{{end}}

{{define "footer"}}
<footer class="l-footer"><b>mm</b>bros &copy; 2017</footer>
{{end}}

{{define "content"}}{{end}}

{{define "browser-sync"}}{{end}}
